{% extends "menu.html" %}

{% block container %}
<section class="container">
    {% if success %}
    <div class="alert alert-success">
        Sua inscrição foi realizada com sucesso
    </div>
    {% endif %}
<div class="card" style="border: 1px solid #efefef !important">
  <div class="card-body">
      <h4 class="card-title"><b><center>ATENÇÃO!</center></b></h4>
    <p class="card-text">Para concluir sua inscrição, por favor efetuar o pagamento!<br>
            Dados bancários:<br>
            Agência: 0768 Tipo de conta: 013 Conta: 00045215-5 <br>
            Favorecida: Jessica Aline Lima Soares <br>
            Banco Caixa Econômica Federal <br>
            Informações importantes: Não serão aceitos depósitos em envelopes, sob pena de não ser reconhecida a inscrição.<br>
            Depósitos apenas de forma direta "boca do caixa", lotéricas e/ou transferências bancárias<br><br><br>
            Att, Equipe de direção geral - RJC 2020</p>
    <a href="{% url 'core_home' %}" class="btn btn-primary">Voltar ao site</a>
  </div>
</div>
</section>
{% endblock %}