{% extends "menu.html" %}

{% block container %}
<section class="container">
    {% if success %}
    <div class="alert alert-success">
        Sua inscrição foi realizada com sucesso
    </div>
    {% endif %}
<div class="card" style="border: 1px solid #efefef !important">
  <div class="card-body">
      <h4 class="card-title"><b><center>ATENÇÃO!</center></b></h4>
    <p class="card-text">Para concluir sua inscrição, por favor efetuar o pagamento!<br>
      Dados bancários: </br>
      Chave PIX (email): rjcsantaines2023@gmail.com </br>
      Favorecido: Elson da Silva Lima</br>
      Banco: C6 Bank </br></br>
      Att: Equipe de Direção Geral - RJC 2023
    <a href="{% url 'core_home' %}" class="btn btn-primary">Voltar ao site</a>
  </div>
</div>
</section>
{% endblock %}